<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dotoki" translate="label" sortOrder="500">
            <label>Dotoki</label>
        </tab>
        <section id="helloworld" translate="label" type="text"
                 sortOrder="100" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>HelloWorld</label>
            <tab>dotoki</tab>
            <resource>VendorName_DotokiModule::Dotoki_Config</resource>
            <group id="hellopage" translate="label" type="text"
                   sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>HelloWorld page settings</label>
                <field id="is_enabled" translate="label"
                       type="select" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Is Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="header_title" translate="label"
                       type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Header title</label>
                </field>
                <field id="source_model_test" translate="label" type="select"
                       sortOrder="30" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Source model test</label>
                    <source_model>VendorName\DotokiModule\Model\Config\Source\Relation</source_model>
                </field>
                <field id="color_example" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Color</label>
                    <frontend_model>VendorName\DotokiModule\Block\Color</frontend_model>
                </field>
                <field id="custom_backend_model" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Backend model example</label>
                    <backend_model>VendorName\DotokiModule\Model\Config\Backend\Validate</backend_model>
                </field>
            </group>
        </section>

    </system>
</config>
